<footer>
<a style="border-bottom: none;background-color: white" href="https://www.twitter.com/chaosape/"><img src="/img/twitter-64-black.png" alt="chaosape on Twitter"/></a>
<a style="border-bottom: none;background-color: white" href="https://www.github.com/chaosape/"><img src="/img/github-64-black.png" alt="chaosape on github"></a>
<a style="border-bottom: none;background-color: white" href="https://arxiv.org/find/cs/1/au:+DaCosta_D/0/1/0/all/0/1"><img src="/img/arxiv-64-black.png" alt="chaosape on arXic"></a>
</footer>
